.hero{
   display: flex;
   /* border: 3px solid black; */
   padding-left: 100px;
   padding-right: 100px;
   /* align-items: flex-start; */
   /* align-items: cent; */
   text-align: left;
}

.text-info{
    /* border: 3px solid green; */
    flex: 1;
    margin: 50px 0px 15px;
    
}

.mockup{
    /* border: 3px solid red; */
    /* margin: 0 auto; */
}

.hero-h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: left;
}

.hero-p{
    text-align: left;
    margin-bottom: 60px;
}

.appStore{
    text-align: left;
}

@media screen and (max-width: 768px) {
    .hero {
     flex-direction: column;
     /* padding-left: 50px; */
     /* padding-right: 50px; */
     margin: 0 auto;
     align-items: center;
    }
    .text-info{
        margin: 10px 0px 15px;
    }
    .hero-h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
    }
    
  }