.footer{
    /* border: 2px solid red; */
    width: 90%;
    height: auto;
    /* background-color: pink; */
    margin: 0 auto;
    margin-top: 30px;
    /* bordeR: 1px solid red; */
}

/* UL Wrapper */
.footer_ul_rapper{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.footer_ul_rapper ul {
    display: flex;
    padding: 1px .3em 1px;
}

.footer_ul_rapper ul li{
    padding: 10px;
    font-size: 14px;
    list-style-type: none;
    cursor: pointer;
}

.social_icons{
    /* border: 4px solid purple */
}

.social_icons li{
   text-decoration: none;
}

.twitter{
    width: 24px;
    height: 24px;
    background-image: url(https://image.flaticon.com/icons/svg/466/466963.svg);
}
.instagram{
    width: 24px;
    height: 24px;
    background-image: url(https://image.flaticon.com/icons/svg/466/466950.svg);
}

/* UL Wrapper 2 */
.footer_ul_rapper_2{    
    /* border: 9px solid green; */
    padding-bottom: 30px;
}

.footer_ul_rapper_2 ul{
    display: flex;
    padding: 1px .3em 1px;
}
.footer_ul_rapper_2 ul li{
    padding: 5px;
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}