@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap');

.App {
  text-align: center;
  margin: 0;
}

.App-link {
  color: #09d3ac;
}

